.main
  section#section-intro
    h2 Intoduction
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minima facilis, expedita, fuga numquam commodi nisi dolor perferendis consequatur officiis nostrum laudantium quibusdam nulla. Maxime vitae sequi architecto explicabo molestias.
  section#section-queries
    h2 Queries
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minima facilis, expedita, fuga numquam commodi nisi dolor perferendis consequatur officiis nostrum laudantium quibusdam nulla. Maxime vitae sequi architecto explicabo molestias.